*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: "Segoe UI","Helvetica Neue",sans-serif;

    background: #000;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
    position: relative;
    z-index: 99;
}

.background{
    position:absolute;  
    display:block; 
    top: 0;  
    left: 0;
    z-index: 0;
}

:root{
    --azul: #1e426b;
    --verde: #487d72;
    --negro: #545454;
    --celeste: #6ab6a6;
}

/** SKEWS **/
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width:  0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.skew-arriba{
    position: relative;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color:  #fff transparent transparent transparent;
    z-index: 10;
}#skew-main{
    margin-bottom: 30px;
}

/*HEADER*/
.header{
    position: relative;
    width: 100%;
}

.nav{
   position: fixed;
   width: 100%;
   height: 75px;
   background: #FDFDFD;
   border-bottom: 3px solid var(--verde);
   top: 0;
   left: 0;

   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 9000;
}

.nav .logo-box{
   margin-left: 30px;
}
.nav .logo-box img{
    height: 70px;
}
.menu{
    margin: auto 60px auto 0;
    display: inline-block;
    font-size: 18px;
}
.menu p{
    display: inline-block;
    margin: auto 8px;
    font-weight: 100;
}

.menu a{
    text-decoration: none;
    color: #000;
}

.menu a:hover{
    color: var(--verde);
}

/*****CARROUSEL**********/

/***********************/

.banner{
    background: rgb(253, 253, 253);
    padding-top: 70px;
}  

/**----------EN QUE PODEMOS AYUDARTE----------**/
.EnQuePodemosAyudarte{
    padding-top:px;
}
.banner .EnQuePodemosAyudarte h2{
    display: block;
    text-align: center;
    padding-top: 12px;
    font-size: 35px;
}

.banner .EnQuePodemosAyudarte hr{
    width: 50%;
    margin: 0 auto;
}

.atajos{
    padding: 40px 50px;
    padding-bottom: 30px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.atajos .card{
    margin: auto;
    width: 290px;
    border-radius: 20px;
}

.atajos .button-card{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    border-radius: 20px;
}

.atajos .button-card > h4{
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}.filter-blur:hover h4{
    background: #000;
    padding: 5px;
    border: 1px solid #fff;
    transition: all 150ms;
}

/*.atajos .p-card{
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
}*/
/* EFECTO BLUR DE LAS CARD*/
.filter-blur:hover{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}.filter-blur{
    transition: all 800ms;
}

#card-dw{
    background: url(./codice-04-cover.jpg);
}
#card-marketing{
    background: url(./marketing.png);
}
#card-software{
    background: url(./software.jpg);
}


/**--------------CONTENIDO MAIN------------**/

.container{
    width: 70%;
    margin: auto ;
}

section{
    border-radius: 20px;
    background-color: #fdfdfd;  /**main**/
    margin: 50px auto;
    padding-top: 10px;
    padding-bottom: 20px;
    height: auto;
}


.container h2{
    text-align: center;
    margin: 3px auto 10px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: var(--azul);
    -webkit-text-stroke: 0.5px #000;
}

/** ------------- VER MÁS ------------------**/
    #mas{
        display: none;
    }

    #verMas{
        display: block;
        padding: 10px;
        margin-left: 85%;
        background: transparent;
        color:  #f23528;
        border: none;
        cursor: pointer;
        transition: 100ms ease-in;
    }
    #verMas:hover{
        color:  #18255a;
    }

    #verMenos{
        display: block;
        padding: 15px;
        margin-left: 80%;
        background: transparent;
        color: #18255a;
        border: none;
        cursor: pointer;
        transition: 100ms ease-in;
    }
    #verMenos:hover{
        color: #f23528; 
    }
/** ----------CONTENIDO ----------------**/
.contenido{
    width: 80%;
    margin:auto;
    text-align: justify;
    font-size: 18px;
}

/** ---------FOOTER-------**/

footer{
    display: block;
    background-color: #FDFDFD;
    padding: 13px;
    text-align: center;
    border-top: 3px solid var(--verde);
}
.cont-footer{
    display: inline-block;
    margin: auto auto;
    font-size: 20px;
}